<mat-card class="person-card">

  <mat-card-content [class.match]="isMatch()" [class.photo-loading]="photoLoading">
    <img width="100%" height="300px" [src]="person?.photoUrl" (load)="photoLoading = false">
    <mat-spinner class="photo-loader" diameter="100" *ngIf="photoLoading"></mat-spinner>
  </mat-card-content>

  <mat-card-header>
    <mat-card-title>{{person?.name}}, {{person?.age}}</mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button [disabled]="isMatch()" mat-raised-button color="primary" (click)="action.emit('like')">Like</button>
    <button *ngIf="!isMatch()" [disabled]="isMatch()" mat-raised-button color="primary" (click)="action.emit('dislike')">Dislike</button>
    <button *ngIf="isMatch()" [disabled]="photoLoading" mat-raised-button color="primary" (click)="action.emit('skip')">Ok</button>
  </mat-card-actions>

</mat-card>
