:host {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.settings-card {
  width: 50%;
  max-width: 500px;
  min-width: 200px;
  font-size: 2em;
}

.sex-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.mat-card-actions {
  display: flex;
  justify-content: end;
}

fieldset {
  &:not(:first-child) {
    margin-top: 16px;
  }

  legend {
    font-size: 1.3em;
  }
}
