<mat-card class="settings-card">

  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form>
      <fieldset>
        <legend>I'm looking for</legend>

      <mat-radio-group class="sex-radio-group"
                       [(ngModel)]="settings.searchSex"
                       [ngModelOptions]="{standalone: true}"
                       (ngModelChange)="settingsChange = true">
        <mat-radio-button class="radio-button" [value]="'male'">Male</mat-radio-button>
        <mat-radio-button class="radio-button" [value]="'female'">Female</mat-radio-button>
      </mat-radio-group>
      </fieldset>

      <fieldset>
        <legend>Age</legend>
        <ngx-slider  [(value)]="settings.ageMin"
                     [(highValue)]="settings.ageMax"
                     (valueChange)="settingsChange = true"
                     [options]="ageOptions">
        </ngx-slider>

      </fieldset>

      <fieldset>
        <legend>Number of candidates</legend>
        <ngx-slider  [(value)]="settings.count"
                     (valueChange)="settingsChange = true"
                     [options]="countOptions">
        </ngx-slider>

      </fieldset>
    </form>

  </mat-card-content>

  <mat-card-actions>
    <button [disabled]="!settingsChange" mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-card-actions>

</mat-card>
