<mat-card *ngIf="skip$ | async as progress">
  <mat-card-header>
    <mat-card-title>{{progress > total ? total : progress}}/{{total}}</mat-card-title>
  </mat-card-header>

  <mat-progress-bar [value]="progress / total * 100"></mat-progress-bar>
</mat-card>

<section class="card-section">
  <mat-card class="loader-card" *ngIf="loader">
    <mat-card-title>Loading persons...</mat-card-title>
    <mat-spinner diameter="100"></mat-spinner>
  </mat-card>

  <app-person-card *ngIf="persons$ | async as person" [person]="person" (action)="action($event, person)"></app-person-card>

  <mat-card class="restart-card" *ngIf="total && skip$.value > total">
    <mat-card-title>No new profiles!</mat-card-title>
    <mat-card-content>You can restart search...</mat-card-content>
    <mat-card-actions class="restart-actions">
      <button mat-raised-button color="primary" (click)="restart()">Restart</button>
    </mat-card-actions>
  </mat-card>
</section>
